<!-- <mat-card>
    <div class="user">UserName/Profilbild</div>
    <div class="message">
        <div class="text" [innerHTML]="anwser"></div>
        <div class="edit">
        </div>
    </div>
</mat-card> -->


<mat-card class="d-flex mat-elevation-z0">

    <img class="messageCardImg" src="assets/avatar.png">

    <div>
        <div class="userName">UserName</div>

        <div class="message">
            <div class="text" [innerHTML]="anwser"></div>
        </div>

    </div>

</mat-card>