mat-card {
    width: calc(100% - 40px);
    padding: 8px;
    margin-top: 16px;
    background-color: transparent;
    border: 0px solid;

    &:hover {
        background-color: rgb(34, 37, 41);
    }
    
    .messageCardImg {
        margin-right: 8px;
        height: 36px;
        width: 36px;
    }

    .userName {
        font-weight: bold;
    }

    p {
        margin: 0;
        color: rgb(30, 155, 209);
    }
}

.changeWidth {
    width: calc(100vw - 224px - 416px);
}