mat-card {
    width: calc(100% - 24px);
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: transparent;
    border: 0px solid;
    color: #e8e6e3 !important;

    &:hover {
        background-color: rgb(34, 37, 41);
    }

    .messageCardImg {
        margin-right: 12px;
        height: 36px;
        width: 36px;
        cursor: pointer;
    }

    .userName {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
        cursor: pointer;
    }

    p {
        margin-top: 8px;
        color: rgb(30, 155, 209);
        cursor: pointer;
    }

    .preview{
       width:auto;
       height: 100px;
       object-fit: contain;
       cursor: pointer;
    }
}

.changeWidth {
    width: calc(100vw - 224px - 416px);
}