<div class="login">
    <h2>Welcom to our</h2>
    <h1>Slack-Clone</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="column">
            <mat-form-field>
                <input class="input" matInput placeholder="Email address" formControlName="email" />
                <mat-error *ngIf="email?.errors?.['required']">
                    Email address is required
                </mat-error>
                <mat-error *ngIf="email?.errors?.['email']">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input class="input" matInput type="password" placeholder="Password" formControlName="password" />
                <mat-error *ngIf="password?.errors?.['required']">
                    Password is required
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <button class="loginBtn" type="submit" mat-raised-button color="primary">Login</button>
        </div>
        <!-- <div class="forgotPasswort mb24">Forgot passwort</div> -->
        <div class="orCont">
            <hr class="hr1">
            <span>OR</span>
            <hr class="hr1">
        </div>
        <div class="loginBtns mb24">
            <span (click)="logInAsGuest()">Login as Guest</span>
        </div>
        <div class="orCont">
            <hr class="hr1">
            <span>OR</span>
            <hr class="hr1">
        </div>
        <span class="column">
            New to our platform?
            <a class="signUp" routerLink="/signup">Sign-up!</a>
        </span>
    </form>
</div>