.dialogContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.subHeadlineWrap {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;
}

mat-card {
    margin-bottom: 16px;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    gap: 8px;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 2px;
}

.form {
    margin-top: 16px;
}

.close {
    cursor: pointer;
}

span {
    font-size: 18px !important;
}

button {
    font-size: 18px !important;
}