<!-- info about 

who is in this channel

and info about channel
-->

<!-- 
    Dialog für die Erstellung eines neuen Channels

    Status: nicht responsive
    keine Funktion 
    
    André-->


<div class="dialogContainer">
    <div class="headline">
        <h1 mat-dialog-title>Channelname: </h1>
        <mat-icon>close</mat-icon>
    </div>
    <div mat-dialog-content>
        <mat-card>
            <h2>Mitglieder ({{ countMembers }})</h2>

            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nutzer hinzufügen:</mat-label>
                    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            <img class="avatar" [src]="option.photoURL"> {{option.displayName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button mat-button color="accent" (click)="addUser()">hinzufügen</button>
            </form>
            <table>
                <tr *ngFor="let user of userList">
                    <div class="user">
                        <img src="{{ user.photoURL }}" class="avatar">
                        <span>{{ user.displayName }}</span>
                    </div>
                </tr>
            </table>
            <button mat-button color="warn" (click)="deleteUser()">Channel verlassen</button>
        </mat-card>
    </div>
</div>