<!-- info about 

who is in this channel

and info about channel
-->

<!-- 
    Dialog für die Erstellung eines neuen Channels

    Status: nicht responsive
    keine Funktion 
    
    André-->


<div class="dialogContainer">
    <div mat-dialog-content>


        <div class="headline">
            <h1 mat-dialog-title>Channelname: {{channel.channelName}}</h1>
            <mat-icon class="close" (click)="onNoClick()">close</mat-icon>
        </div>
        <div class="subHeadlineWrap">
            <h2>Mitglieder ({{ countMembers }})</h2>
        </div>

        <div *ngIf="isUpdated">
            <div *ngFor="let user of userList">
                <div class="user">
                    <img [src]=" user.photoURL ? user.photoURL : avatar" class="avatar">
                    <span>{{ user.displayName }}</span>
                </div>
            </div>
        </div>
        <button mat-button color="warn" (click)="deleteUser()">Channel
            verlassen</button>
        <!--  <form class="form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nutzer hinzufügen:</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        <img class="avatar" [src]="option.photoURL ? option.photoURL : avatar">
                        {{option.displayName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-button color="accent" (click)="addUser()">hinzufügen</button>
        </form>-->





    </div>
</div>