<!--
    <h1 mat-dialog-title>
    Add new Channel</h1>
<div mat-dialog-content>
    <p>Please enter the name of a Channel</p>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="channelName">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [disabled]="channelName.length == 0" [mat-dialog-close]="channelName" cdkFocusInitial>Ok</button>
-->
<!-- 
    Dialog für die Erstellung eines neuen Channels

    Status: nicht responsive
    keine Funktion 

    Bei Erstellung Übergabe an Firestore: Users, Type(channel oder message)
    
    André-->

<div class="dialogContainer">
    <div class="headline">
        <h1 mat-dialog-title>Channels erstellen</h1>
        <mat-icon (click)="onNoClick()">close</mat-icon>
    </div>
    <div mat-dialog-content>
        <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein – #marketing zum
            Beispiel.</p>
        <div class="subheadWrap">
            <h3>Name</h3>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="z.B. marketing" maxlength="80" [(ngModel)]="channelName">
        </mat-form-field>
        <p class="question">Worum geht es in diesem Channel?</p>
        <div class="buttonWrap"><button mat-button color="accent" [disabled]="channelName.length == 0"
                (click)="createNewChannel()">Erstellen</button></div>
    </div>
</div>