.channelCont {
    width: calc(100% - 36px);
    background-color: rgb(27, 29, 33);
    border-left: 1px solid rgb(139, 139, 139);
    padding: 12px;
    padding-left: 24px;
    height: calc(100vh - 85px);

    .channelHeader {
        height: 40px;
        margin-bottom: 12px;
        display: flex;
        color: white;
        border-bottom: 1px solid rgb(139, 139, 139);

        mat-icon {
            filter: invert(30%);
            transform: scale(1.3);
            cursor: pointer;
            transition: 125ms ease-in-out;

            &:hover {
                filter: invert(0);
            }
        }
    }

    .messageContainer {
        height: calc(100% - 184px);
        width: calc(100% - 24px);
        overflow-y: scroll;
    }

    .chatbox {
        position: absolute;
        bottom: 12px;
        width: calc(100% - 272px);
    }
}

.changeWidthB {
    width: calc(100vw - 224px - 375px - 36px) !important;
}

.changeWidthChatboxB {
    width: calc(100vw - 224px - 375px - 36px) !important;
}

.changeWidthS {
    width: calc(100vw - 36px - 375px - 36px) !important;
}

.changeWidthChatboxS {
    width: calc(100vw - 412px - 36px) !important;
}



@media (max-width: 899px) {

    .channelCont {
        .chatbox {
            width: calc(100% - 80px);
        }
    }

}