<div class="channelCont" [class.changeWidthB]="messageService.threadB" [class.changeWidthS]="messageService.threadS">

  <div class="channelHeader d-flex sb">
    <h3><b># {{ channelName }}</b></h3>
    <div class="d-flex center">
      <mat-icon (click)="openDialog()">info_outline</mat-icon>
    </div>
  </div>

  <div class="messageContainer" id="messageContainer">

    <app-message-card class="message" *ngFor="let message of messages, 
          let i = index" messageText="{{message['message']}}" picture="{{message['picture']}}" timestamp="{{message['timestamp']}}"
      threadData="{{threadAnwsersToJson(i)}}" counter="{{ this.threadMessages[i].length}}" creatorId ="{{message['creatorId']}}">
    </app-message-card>

    <app-chatbox class="chatbox" [class.changeWidthChatboxB]="messageService.threadB"
      [class.changeWidthChatboxS]="messageService.threadS" parent="channel">
    </app-chatbox>

  </div>

</div>



<!--

    all threads shown
    joshua
-->

<!-- <app-chatbox></app-chatbox> -->
<!--

    path: 'main',
    component: MainContainerComponent,
    children:
      [
        { path: 'channel/:id', component: ChannelComponent, },
        { path: 'channel/:id/thread/:id2', component: ChannelComponent }
      ]


      Hey, Ich habe mir das hinsichtlich der Einbindung vom Thread so gedacht:
       
      Anzeige des Threads, sobald eine zweite Id vorhanden ist ähnlich dem Muster:

Id2 entspricht der MessageId



      import { ActivatedRoute } from '@angular/router';

constructor(private route: ActivatedRoute) {
  this.route.paramMap.subscribe( params => {
    this.id_1 = params.get('id1');
    this.id_2 = params.get('id2');

  });
}

*ngIf="this.id_2"


/**
 * 
 * 
 * (click)="bigPicture()"
 * 
 * 
 *  bigPicture() {
    const dialog = this.dialog.open(BigFishComponent);
    dialog.componentInstance.message = new Fish(this.message.toJson());
    dialog.componentInstance.imagePath = this.message.pictureUrl;
    dialog.componentInstance.channelId = this.channelId;
  }
 */



-->