.mat-drawer-container {
    height: 100vh;
}

.headline {
    margin-left: 16px;
}

.menu-bar {
    cursor: pointer;
}

.sidenav {
    width: 200px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding-left: 16px;
            padding-right: 16px;
            height: 46px;
            display: flex;
            align-items: center;
            cursor: pointer;

            mat-icon {
                margin-right: 16px;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.no-cursor {
    cursor: unset !important;

    &:hover {
        background-color: #424242 !important;
    }
}

.logo-container {
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    display: flex;
    align-items: center;

    img {
        height: 48px;
        max-width: 100%;
        filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(322deg) brightness(105%) contrast(100%);
        border: none;

        &:focus-visible {
            outline: unset;
        }
    }
}

mat-toolbar,
mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.router-container {
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
        display: flex;
        align-items: center;
    }

    .header-right {
        display: flex;
        align-items: center;
    }
}


.login-wrap {

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;


    .log-in {

        background-color: black;

        .login-title {
            font-size: 3em;
            font-weight: bold;
            margin-bottom: 40px;
        }

        .input {
            height: 20px;
            width: 300px;
            border: 1px solid white;
            border-radius: 4px;
            padding: 8px;
            margin: 8px;
        }

        .btn-login {
            width: 100px;
            height: 40px;
            margin: 8px;
            border: 0;
            border-radius: 4px;
            background-color: indigo;
            cursor: pointer;
            transition: 225ms ease-in-out;

            &:hover {
                filter: brightness(120%);
            }
        }

        .forgotPassword {
            margin-bottom: 32px;
            color: grey;
            cursor: pointer;
            transition: 225ms ease-in-out;


            &:hover {
                color: white;
            }
        }

        .orCont {
            display: flex;
            align-items: center;

            hr {
                width: 140px;
                border: 0.5px solid white;
            }

            .or {
                margin: 8px;
            }

        }



        .login-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 316px;
            border: 1px solid white;
            border-radius: 4px;
            margin: 8px;

            .googleIcon {
                height: 12px;
                margin-right: 8px;
            }
        }



    }

}

.center {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    flex-direction: column !important;
}