.channelListCont {
    height: 44vh;
    color: white;

    button {
        height: 28px;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .channels {
        max-height: 38vh;
        overflow-y: scroll;
    }

    .channelButton {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}