.channelListCont {
    height: 44vh;
    color: white;

    .header {
        height: 40px;
        display: flex;
        color: white;
        border-bottom: 1px solid rgb(139, 139, 139);
    }

    button {
        height: 28px;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .channels {
        margin-top: 16px;
        max-height: 38vh;
        overflow-y: scroll;

        p {
            font-size: 16px;
            margin-bottom: 8px !important;
        }
    }

    .channelButton {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}