<!--
    
    input field for channel component

status:
Responsive muss angepasst werden, sobald es in der richtigen Komponente eingebunden ist.

Hover-Effekte müssen noch eingebunden und geändert werden


André

-->


<mat-card>
    <quill-editor *ngIf="cleared" placeholder="Nachricht an" [modules]="modules" (onEditorChanged)="changedEditor($event)">
    </quill-editor>
    <div class="pictureWrap" *ngIf="preview">
        <div class="singlePicture">
            <div class="delete">
                <mat-icon (click)="deleteLastUpload()">close</mat-icon>
            </div>
            <img class="preview" [src]="preview">
        </div>
    </div>
    <div class="sendButton">
        <label for="files" class="customUpload">
            <input type="file" id="files" single accept="*.jpg .png" (change)="uploadFile($event)"
                (click)="deleteLastUpload()" placeholder="Upload a picture">
            <mat-icon class="icon">image</mat-icon>
        </label>
        <mat-icon class="icon" (click)="saveAndSend()">send</mat-icon>
    </div>
</mat-card> 