<!--
    
    input field for channel component

status:
Responsive muss angepasst werden, sobald es in der richtigen Komponente eingebunden ist.

Hover-Effekte müssen noch eingebunden werden

Aktiv und nicht Aktiv ebenso.

noch keine Funktion 

André

-->

<!-- 
<mat-card>
    <quill-editor formControl placeholder="Nachricht an" [modules]="modules" (onEditorChanged)="changedEditor($event)"></quill-editor>
    <div class="sendButton">
        <mat-icon class="icon" (click)="print()">send</mat-icon>
    </div>
</mat-card> -->