/* You can add global styles to this file, and also import other style files */
@import './quill.smoke.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.d-flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.d-center {
    display: flex;
    align-items: center;
}

.cursorPointer {
    cursor: pointer;
}

.sb {
    justify-content: space-between;
}

.mb8 {
    margin-bottom: 8px !important;
}

.mb16 {
    margin-bottom: 16px !important;
}

.mb24 {
    margin-bottom: 24px !important;
}

