.threadHeader {
    color: white;
    margin-bottom: 20px;
    .text {
        background-color: grey;
        padding: 10px;
    }
}

app-thread-anwser-card {
    margin-top: 10px;
    margin-bottom: 10px;
}