<div class="threadCont" id="threadCont">

    <div class="header d-flex sb">
        <h3>Thread</h3>
        <button (click)="closeThread()" mat-fab color="basic">
            <mat-icon>add</mat-icon>
        </button>
    </div>



    <div class="scroll" id="answerContainer">
        <div id="firstMessage">
            <div class="userName"> User {{ threadData['creatorId']}} </div>
            <div class="text" [innerHTML]="threadData['message']"></div>
            <p>Antworten:</p>
        </div>

        <div class="threadAnwsers" id="threadAnwsers">
            <app-thread-anwser-card *ngFor="let anwser of anwsers" anwser="{{ anwser }}" creatorId="{{ creatorId }}"></app-thread-anwser-card>
        </div>
    </div>

    <app-chatbox class="chatbox"></app-chatbox>

</div>