.membersCont {
    height: 44vh;

    .header {
        height: 40px;
        display: flex;
        border-bottom: 1px solid rgb(139, 139, 139);
        margin-bottom: 16px;

        button {
            height: 28px;
            width: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

   

    .members {
        width: calc(100% - 8px);
        padding: 4px;
        border-radius: 4px;
        max-height: 38vh;
        overflow-y: scroll;

        &:hover {
            background-color: rgb(34, 37, 41);
        }

        .wrap {
            display: flex;
            align-items: center;

            .userPic {
                height: 24px;
                width: 24px;
                margin-right: 8px;
            }
    
            p {
                font-size: 16px !important;
            }
        }  
    }
}