<div class="membersCont">

    <div class="header d-flex sb">
        <h3>Direktnachrichten</h3>
        <button (click)="openDialog()" mat-fab color="basic">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="members cursorPointer" *ngFor="let channel of filteredForUser"
        (click)="changeSelectedId(channel.channelId)">
        <div class ="wrap" *ngFor="let user of channel.users">
            <img class="userPic" [src]="user.photoURL">
            <p>{{ user.displayName }}</p>
            <p *ngIf="channel.users.length > 1 && user != channel.users[channel.users.length - 1]">
                ,&nbsp;
            </p>
        </div>
    </div>

</div>