.memberListCont {
    height: 44vh;
    color: white;

    button {
        height: 28px;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .members {
        max-height: 38vh;
        overflow-y: scroll;
        align-items: center;

        .userPic {
            height: 24px;
            margin-right: 8px;
        }
    }

    .memberButton {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}