<div [class.d-none]="!menuBtn">

    <div class="menuBtn">
        <button class="btn" type="button" mat-button (click)="drawer.toggle(); addClass()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <mat-drawer-container id="matDrawerCont" [class.menuOpen]="menuOpen">
        <mat-drawer #drawer mode="side">
            <app-channel-list (leftSide)="leftSide()"></app-channel-list>
            <app-members (leftSide)="leftSide()"></app-members>
        </mat-drawer>
    </mat-drawer-container>

</div>

<div class="leftSideCont" [class.d-none]="menuBtn">

    <div class="leftSide">
        <app-channel-list (leftSide)="leftSide()"></app-channel-list>
        <app-members (leftSide)="leftSide()"></app-members>
    </div>

</div>